.paginationNav {
  grid-column: 1 / 6;
  grid-row: 4 / 5;

  ul {
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    list-style: none;

    li {
      min-width: 25px;
      height: 30px;
      background-color: rgba($color: #ffffff, $alpha: 0.7);
      margin: 5px 5px 0 0;
      transition: 0.3s ease background-color;

      &:hover {
        background-color: rgba($color: #ffffff, $alpha: 1);
      }

      a {
        display: block;
        width: 100%;
        height: 100%;
        text-align: center;
        line-height: 30px;
        text-decoration: none;
        color: #262626;
        transition: 0.3s ease opacity;
      }
    }
  }
}
