.paginationNav {
  grid-column: 1 / 6;
  grid-row: 4 / 5;

  ul {
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    list-style: none;

    li {
      position: relative;
      margin: 5px 8px;
      padding-right: 5px;

      &::after {
        position: absolute;
        top: 50%;
        right: -6px;
        transform: translate(-50%, -50%);
        display: block;
        content: "";
        width: 1px;
        height: 90%;
        background-color: #262626;
      }

      &:nth-last-child(1) {
        &::after {
          display: none;
        }
      }

      .currentPage {
        font-weight: 600;
      }

      a {
        display: block;
        width: 100%;
        height: 100%;
        text-align: center;
        line-height: 20px;
        text-decoration: none;
        color: #262626;
        transition: 0.3s ease transform;

        &:hover {
          transform: translateY(-10%);
        }
      }
    }
  }
}
