@keyframes loadingAnim {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.loadingContainer {
  position: relative;
  height: 376px;

  .loadingBox {
    position: absolute;
    top: calc(50% - 50px);
    left: calc(50% - 50px);
    transform: translate(-50%, -50%);
    transform-origin: center;
    width: 100px;
    height: 100px;
    background-color: #262626;

    box-shadow: 0 0 30px -15px #262626;
    animation: loadingAnim 3s infinite linear;
  }

  span {
    position: absolute;
    top: 50%;
    left: 50%;
    font-family: "Montserrat";
    transform: translate(-50%, -50%);
    color: #f2ce16;
  }
}
